<?xml version="1.0" encoding="utf-8"?>
<!--
 GNU GENERAL PUBLIC LICENSE V3.0
 Copyright (C) 2017 imbVeles - http://blog.veles.rs/
 Goran Grubić - Email: hardy@veles.rs - http://orcid.org/0000-0003-2673-9471
 http://github.com/gorangrubic - http://www.mendeley.com/profiles/goran-grubi2/
 Everyone is permitted to copy and distribute verbatim copies
 of this license document, but changing it is not allowed.
-->
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net40" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net40" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net40" />
  <package id="AForge" version="2.2.5" targetFramework="net40" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net40" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net40" />
  <package id="Bdev.Net.Dns" version="1.0.4" targetFramework="net40" />
  <package id="CsvHelper" version="2.16.3.0" targetFramework="net40" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net40" />
  <package id="EPPlus" version="4.1.1" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.6.5" targetFramework="net40" />
  <package id="imbACE" version="0.1.0" targetFramework="net40" />
  <package id="imbSCI" version="0.1.0" targetFramework="net40" />
  <package id="MySql.Data" version="6.9.10" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net40" />
  <package id="PubComp.NuGetPack" version="2.14.0" targetFramework="net40" />
</packages>