<?xml version="1.0" encoding="utf-8"?>
<!--
 GNU GENERAL PUBLIC LICENSE V3.0
 Copyright (C) 2017 imbVeles - http://blog.veles.rs/
 Goran Grubić - Email: hardy@veles.rs - http://orcid.org/0000-0003-2673-9471
 http://github.com/gorangrubic - http://www.mendeley.com/profiles/goran-grubi2/
 Everyone is permitted to copy and distribute verbatim copies
 of this license document, but changing it is not allowed.
-->
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net40" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net40" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net40" />
  <package id="AForge" version="2.2.5" targetFramework="net40" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net40" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net40" />
  <package id="Bdev.Net.Dns" version="1.0.4" targetFramework="net40" />
  <package id="BrightstarDB" version="1.13.3" targetFramework="net40" />
  <package id="BrightstarDBLibs" version="1.13.3" targetFramework="net40" />
  <package id="CsvHelper" version="2.16.3.0" targetFramework="net40" />
  <package id="dotNetRDF" version="1.0.9.3683" targetFramework="net40" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net40" />
  <package id="EPPlus" version="4.1.1" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.6.5" targetFramework="net40" />
  <package id="imbACE" version="0.1.2.14" targetFramework="net40" />
  <package id="imbNLP.CoreAndData.NuGet1" version="0.1.2.10" targetFramework="net40" />
  <package id="imbNLP.Transliteration" version="0.1.2.1" targetFramework="net40" />
  <package id="imbSCI" version="0.1.2.29" targetFramework="net40" />
  <package id="imbWEM.CommonData" version="0.1.2.18" targetFramework="net40" />
  <package id="LinqStatistics" version="2.1.0" targetFramework="net40" />
  <package id="MathNet.Numerics" version="3.20.2" targetFramework="net40" />
  <package id="MathNet.Spatial" version="0.4.0" targetFramework="net40" />
  <package id="MySql.Data" version="6.9.10" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net40" />
  <package id="NHunspell" version="1.2.5554.16953" targetFramework="net40" />
  <package id="PGK.Extensions" version="2011.6" targetFramework="net40" />
  <package id="PubComp.NuGetPack" version="2.14.0" targetFramework="net40" />
  <package id="VDS.Common" version="1.6.0" targetFramework="net40" />
</packages>