<NuGetPack>
  <AddFrameworkReferences>true</AddFrameworkReferences>
  <title>imbWEM.Core - Web Exploration Model</title>
  <IconUrl>http://doc.veles.rs/imbWEM.ico</IconUrl>
  <ProjectUrl>http://blog.veles.rs/</ProjectUrl>
  <LicenseUrl>http://doc.veles.rs/LICENCE.txt</LicenseUrl>
  <Authors>goran.grubic</Authors>
  <Owners>368bb5b1-e005-4214-a04b-ede891547ff2</Owners>
  <Copyright>Copyright (C) 2017 imbVeles - GNU GENERAL PUBLIC LICENSE V3.0</Copyright>
  <Description>Web Exploration Model: crawlers, crawler reports, web analytic console, web loader, web crawler experiment setup...</Description>
  <Summary>Web Exploration Model Core namespace of imbWEM library, a crawling libraries - part of imbVeles framework</Summary>
  <Keywords>WEM, Crawler, Semantic Crawler, Data Mining</Keywords>
</NuGetPack>